<%- include ('header') %>
<header>
    <h1>Petrolina Party</h1>
    <h4>Ocorreu um erro! :'(</h4>
</header>
<p>
    Detalhes do erro:
    <br>
    <%- error.message %>
</p>
<hr>
<p>retornar <a href="/">Home Page</a> :)</p>

<%- include ('footer') %>