<%- include ('../header') %>
<script src="/socket.io/socket.io.js"></script>
<style>
    body{
                font-size: 16px;
                font-family: Roboto;
                color: rgb(32, 32, 32);
                margin: 10px;
                background-color: rgb(230, 230, 230);
            }
            header{
                position: absolute;
                top: 20%;
                left: 40%;
                text-align: center;
            }
            tbody{
              
            }
            section>form{
                position: absolute;
                top: 50%;
                left: 35%;
                text-align: justify;
            }
            form>input{
            margin: 10x;
               
            }
            form>button{
            margin: 10px; 
            }
            section{
                margin-top:500px;
            }
            table{
                margin-top: 500px;
            }
            footer{
                position: absolute;
                top:80%;
                left: 45%;
                text-align: center;
            }
</style>
<script>
    const socket = io();
    socket.on('send-client', (msg) =>{
        document.getElementById('chat').innerHTML += msg;
    });
    const enviar = () =>{
    const nome = document.getElementById('nome').value;
    const msg = document.getElementById('msg').value;
    socket.emit('send-server',{ nome, msg });
};
</script>
<header>
    <h2>Petrolina Party - Chat</h2>
</header>
<section>
    <pre id = "chat"></pre>
    <input type="hidden" id="nome" value="<%- usuario.nome %>">
    <input type="text" id="msg" placeholder="Mensagem">
    <button onclick="enviar();">Enviar</button>
</section>
<%- include ('../exit')%>
<%- include ('../footer') %>