<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> LOGIN | </title>
    </head>
    <body>
        <header>
            <h1>Petrolina Young Party!</h1>
            <h4>Bem-Vindo!</h4>
        </header>
        <section>
            <form action="/entrar" method="POST">
            <input type="text" name="usuario[nome]" placeholder="Nome">
            <br>
            <input type="text" name="usuario[email]" placeholder="E-mail">
            <br>
            <button type="submit">Entrar</button>
            </form>
        </section>
        <footer>
            <small>Petrolina Calourada Party</small>
        </footer>
    </body>
</html>